.pokemonCard {
  background-color: rgb(217, 243, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 650px;
  max-width: 700px;
  min-height: 700px;
  height: auto;
  border-radius: 25px;
  margin-top: 3rem;
}

.pokemonCardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  width: 250px;
}

.pokemonCardTypes {
  width: 100%;
  margin: 0.3rem 0;
}

.pokemonTypeCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.pokemonType {
  color: #fff;
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: large;
  line-height: 1.6;
  font-weight: 15px;
  letter-spacing: 1.5px;
  max-width: 400px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin-top: 1rem;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.pokemonCardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.ability {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
}

.imgContainer {
  flex-grow: 1;
  flex-basis: 50%;
}
img {
  height: auto;
  width: auto;
  object-fit: cover;
}

.displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 1rem;
}

.title {
  margin: 0.5rem 0;
  max-width: 400px;
}

.moves {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin-top: 1rem;
}
.move {
  flex-grow: 1;
  flex-basis: 50%;
}

.pokemonDetailsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(111, 202, 202);
  color: #fff;
  padding: 0.6rem 1.2rem;
  position: absolute;
  top: 50px;
  left: 50px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.link {
  border-radius: 15px;
  padding: 0.5rem 1rem;

  text-decoration: none;
}

.linkActiv {
  background-color: rgb(148, 50, 234);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .pokemonCard {
    width: 80vw;
  }
  .description,
  .details,
  .movesContainer,
  .moves {
    width: 100%;
    height: auto;
    word-wrap: break-word;
  }
  .pokemonCardHeader {
    width: 100%;
  }
  .pokemonDetailsButton {
    display: none;
  }
  .pokemonCardBody {
    width: 100%;
  }
  .pokemonCard {
    min-width: 400px;

    min-height: 70vh;
    height: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 898px) {
  .pokemonCard {
    min-width: auto;
  }

  .move {
    flex-grow: 1;
    flex-basis: 100%;
  }

  .pokemonTypeCard {
    flex-direction: column;
  }
}
@media only screen and (max-width: 508px) {
  .pokemonDetailsButton {
    background-color: #fff;
    color: rgb(111, 202, 202);
    display: block;
    top: 60px;
    left: 50px;
  }
}
