.container {
  width: 1098px;
  min-height: 70vh;
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 5rem 0;

  align-items: center;
  position: relative;
  min-height: 80vh;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(111, 202, 202);
  color: #fff;
  cursor: pointer;
}

button:hover {
  box-shadow: 5px 4px 30px 5px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 90vw;
    margin: 3rem 1rem;
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    width: 90vw;
    margin: 3rem 1rem;
    padding: 0 3rem;
  }
}
