* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  background-image: url("https://veekun.com/static/pokedex/downloads/black-white-back-shiny.png");
  background-attachment: fixed;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  text-transform: capitalize;
}
